# Python virtual environment
backend/venv/
backend/__pycache__/
*.pyc

# Environment Variables
.env
backend/.env

# Mac / OS hidden files
.DS_Store

# Relational Database Files
*.db
backend/hireready.db
hireready.db

# Heavy Local Machine Learning models ( Whisper / T5 weights )
backend/ml_models/

# Upload folders & test audio files
backend/uploads/
backend/test.wav
frontend-next/nextauth-error.log

# IDE & Config
mcp_config.json
.vscode/
