fastapi
uvicorn
python-multipart
sqlalchemy
psycopg2-binary
pdfminer.six
spacy
sentence-transformers
transformers
torch
librosa
xgboost
vaderSentiment
nltk
pandas
numpy
openai-whisper
python-jose[cryptography]
passlib[bcrypt]
python-dotenv
reportlab
accelerate
sentencepiece
protobuf
scikit-learn
